*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section img{

    width: 30%;
    border-radius: 100%;
    box-shadow: 1px 2px 7px rgba(0,0,0,.5);
    margin: 10px;
}

section{

    text-align: center;
}

main{

    position: relative;

    display: flex;

    flex-direction: column;

    justify-content: start;
    align-items: center;

    padding: 50px;

    gap: 20px;
}

main a{

    text-decoration: none;

    background-color: aliceblue;

    width: 50%;

    padding: 30px;

    color: black;

    text-align: center;

    border-radius: 100px;

    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

main a:hover{

    padding: 35px;
    background-color: antiquewhite;
    transition: 0.3s;
}

footer img{

    width: 50px;
}

footer{

    display: flex;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 600px){

    main a{

        width: 80%;
    }
}

main img{

    position: absolute;
    transform: translateY(-12px);
    padding: 2px;
    height: 50px;
    width: 50px;
    left: 515px;
}