*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#lateral{

    width: 30%;
}

div{

    background-color: aqua;
    height: 200px;
    width: 100%;
}

section{

    display: flex;
    gap: 20px;

    justify-content: center;
    align-items: start;

    margin: 10px 0px 10px 0px;

}

header{

    background-color: aqua;
    height: 100px;
}

footer{

    background-color: aqua;
    height: 100px;
}

#conteudo-principal{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 10px;
}

.bloco{

    background-color: blue;

    width: 200px;
}